@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2a9d8f;
  --secondary-color: #a5a58d;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: rgb(247, 247, 247);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}

/* CSS Starts */
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .box .signin-box {
  width: 400px;
  height: auto;
  padding: 100px 40px 40px 40px;
  box-shadow: 3px 3px 20px lightgray;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}
.container .box .f.signin-box {
  padding: 100px 40px 80px 40px;
}
.signin-box i.fa-contao {
  font-size: 65px;
  background-color: var(--primary-color);
  color: white;
  padding: 25px;
  position: absolute;
  top: -70px;
  border: 10px solid rgb(247, 247, 247);
  border-radius: 10px;
}
.signin-box .username,
.name,
.email,
.password {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
}
i.fa-user,
i.fa-key,
i.fa-at {
  font-size: 20px;
  background-color: var(--primary-color);
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
i.fa-key,
i.fa-at {
  padding: 7px;
}
i.fa-user {
  padding: 8px;
}
#uname,
#name,
#email,
#password {
  width: 100%;
  font-size: 17px;
  padding-left: 7px;
  border: none;
  border: 1px solid var(--primary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.username,
.name,
.email {
  margin-bottom: 20px;
}
.f.password {
  margin-bottom: 20px;
}
.remember-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-top: 10px;
}
.remember-me .remember {
  margin-left: 7px;
}
button {
  font-size: 15px;
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: var(--secondary-color);
}
button.button {
  margin: 25px 0 0 0;
}
.account small {
  font-size: 13px;
  margin-right: 5px;
}
